@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Open Sans", sans-serif;
border: none;
text-decoration: none;
transition: all.2s linear;

}
body{
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    height: 98px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    background-color: white;

}

.logo {
    font-size: 45px;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: 0 10px;
}
a {
    text-decoration: 0;
    color: black;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 6px;
}
a:hover {
    background-color: rgb(40, 134, 165);
    color: white;
}
@media screen and (max-width:1037px){

    body {
        position: relative;
    }
    header{
        padding: 10px 20px;
    }
    ul {
        flex-direction: column;
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        top: 0;
        left: -1500px;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(1px);
        transition: 0.5s;
}
ul li{
    margin:  20px 0;
}
ul li a {
    text-transform:uppercase ;

}

.button{
    
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}
.button::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: black;
    box-shadow: 0 10px 0 black;
    transform: translateY(-10px);
    transition: 0.5s;
     
    
}
.button.active::after {
    
    box-shadow: 0 0 0 black;
    transform: rotate(45deg);
     
    
}
#home{
    padding: 5px;

}

.button::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
    transition: 0.5s;
    
}
.button.active::before {
    transform: rotate(-45deg);
    
}
ul.active {
    left:0;

}

}
body
{
	-webkit-font-smoothing:antialiased;
	font-family:Lora, serif;
	font-size:18px;
	font-weight:400;
	line-height:1.4;
	text-rendering:optimizeLegibility;
}

.skill-set li:hover
{
	background:rgb(40, 134, 165);
}

h1
{
	color:rgba(0,0,0,.75);
}

.wrapper
{
	height:100%;
}



.right
{
	float:right;
	height:100%;
	position:relative;
	width:66.66%;
}
.left
{
	background-color:rgb(40, 134, 165);
	border-right:1px solid rgba(190, 185, 39, 0.05);
	float:right;
	height:100%;
	margin-left:-1px;
	min-width:256px;
	position:fixed;
	width:33.33%;
  
}

.name-hero
{
	background:rgba(0,0,0,.001);
	bottom:0;
	height:290px;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	width:85%;
}

.me-img
{
	background:url(https://media-exp1.licdn.com/dms/image/C4E03AQGnLq_IB_mf8Q/profile-displayphoto-shrink_400_400/0/1631022739752?e=1648684800&v=beta&t=eICUjHeH_g9GQEItmEMK1j2gCADwqfjrlccSD_5za58) no-repeat center center ;
	background-size:100%;
  background-position:0px;
	border-radius:100%;
	height:150px;
	margin:0 auto;
	position:relative;
	width:150px;
}

.name-hero h1
{
	font-family:Open Sans, sans-serif;
	font-size:1.5em;
	text-align:center;
}

.name-hero h1 em
{
	color:rgba(0,0,0,.3);
	font-style:normal;
	font-weight:700;
}

.name-hero p
{
	color:rgba(0,0,0,.75);
	font-size:.75em;
	line-height:1.5;
	margin:0 8px 0 0;
	text-align:center;
}

.name-hero .name-text
{
	margin:0 auto;
	width:85%;
}

.inner
{
	margin:0 auto;
	max-width:975px;
	padding:3em;
}

.inner h1
{
	font-size:1.75em;
}

.inner p
{
	color:rgba(0,0,0,.5);
}

.inner p em
{
	color:rgba(0,0,0,1);
	font-style:normal;
}

.inner section
{
	margin:100px auto;
}




.skill-set li
{
	background:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}


@media screen and (max-width:1037px) {
	.right,.left
	{
		float:none;
    position:relative !important;
		width:100%;
    min-height:500px;
	}
  .handmade {
  text-align:center !important;
  margin-top:0px !important;
}
@media screen and (max-width:1037px){
    body
{ font-size:14px;}
}
.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
 }
.handmade {
  text-align:right;
  margin-top:100px;
}
.handmade em {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.25em;
  margin-left:5px;
}
}